@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-inter: 'Inter', system-ui, sans-serif;
    --accent-primary: #000000;
    --accent-secondary: #FFFFFF;
    --text-primary: #000000;
    --text-secondary: #666666;
    --border-radius: 0px;
  }

  * {
    @apply border-accent-gray-200;
  }

  body {
    background-color: var(--accent-secondary);
    color: var(--text-primary);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

