@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-inter: 'Inter', system-ui, sans-serif;
  }

  * {
    @apply border-accent-gray-200;
  }

  body {
    @apply bg-accent-secondary text-accent-primary;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

