@import '../../styles/variables';
@import '../../styles/mixins';

.container {
  width: 100%;
  overflow: visible; // Allow dropdown menu to overflow container
  position: relative; // Create stacking context for z-index
  outline: 1px solid $accent-primary;
  margin-top: 1px;
  margin-bottom: 1px;
}

.button {
  display: flex;
  justify-content: flex-start;
  position: relative; // Create stacking context for dropdown
}

