@import '../../styles/variables';

.slide {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-height: 0; // Allow flex shrinking
  
  &.customSlide {
    gap: 0;
  }
}

.slideImage {
  position: relative;
  width: 100%;
  height: 100%;
  flex: 1;
  min-height: 0;
  background-color: $gray-100;
  overflow: hidden;
  
  // Only show outline when image is present
  &.hasImage {
    outline: 1px solid $accent-primary;
  }
  
  // Ensure video fills container
  :global(video) {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.placeholder {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $gray-100;
  outline: 1px dashed $gray-300;
  color: $gray-400;
  
  &.placeholderClickable {
    cursor: pointer;
  }
}

.placeholderText {
  font-family: $font-family-mono;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.slideImageButtons {
  position: absolute;
  bottom: 0px;
  right: 0px;
  display: flex;
  gap: 0;
  z-index: 10;
}

.slideContent {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.slideTitle {
  font-size: 12px;
  font-weight: 600;
  color: $accent-primary;
  margin: 0;
}

.slideDescription {
  font-size: 10px;
  color: $gray-700;
  margin: 0;
  line-height: 1.5;
}

.slideCustomContent {
  width: 100%;
}

