@import '../../styles/variables';

.projectCard {
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 24px;
  padding-right: 24px;
  outline: 1px solid $accent-primary;
  background-color: $accent-secondary;
  font-family: $font-family-mono;

  &.noPadding {
    padding: 0;
  }
}

