@import '../../styles/variables';

.contentHolder {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  
  // Specific gap between title and description (4px instead of default 24px gap)
  .description {
    margin-top: -20px; // Counteract the 24px gap to achieve 4px spacing
  }
}

.metadata {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 10px;
  color: $gray-400;
  font-family: $font-family-sans;
  
  .separator {
    &::before {
      content: '|';
      margin: 0 0.5rem;
    }
  }
}

