@import '../../styles/variables';

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.tag {
  padding: 0.25rem 0.75rem;
  font-size: 0.75rem;
  font-weight: 500;
  background-color: $gray-100;
  color: $gray-700;
  outline: 1px solid $gray-200;
}

